<div class="row" style="height: 40px">
  <div class="col-md-6">
    <button type="button" (click)="clickColaborar()" class="btn btn-secondary">Colaborar</button>
  </div>
  <div class="col-md-5">
    <input type="text" class="form-control" value="" id="pesquisa" placeholder="Informe um local">
  </div>
  <div class="col-md-1">
    <button (click)="clickPesquisar()" type="button" class="btn btn-primary brn-lg">Pesquisar</button>
  </div>

</div>

<app-error-messages *ngIf="enderecoNaoEncontrado" [error-message]="'Local não encontrado'"></app-error-messages>
<div style="width: 100%; height: 500px;">
<app-mapa *ngIf="carregou" [coords]="this.coords" [podeRecarregar]="true" [endereco]="this.endereco"></app-mapa>
</div>
