<app-bread-crumb
  [items]="[{text: 'Colaborações'}]"
></app-bread-crumb>

<app-page-header
  page-title="Colaborações"
  button-text="+ Nova Colaboração"
  button-link="/colaboracoes/new"
  button-class="btn-success"
></app-page-header>

<button (click)="filtroData(dataInicial.value, dataFinal.value)" class="btn btn-primary float-right">Filtrar</button>
<div class="form-group float-right mr-2">
  <input type="date" #dataFinal class="form-control" [value]='dataFinal' id="dataFinal" placeholder="Data final">
</div>
<div class="form-group float-right mr-2">
  <input type="date" #dataInicial class="form-control" [value]='dataInicial' id="dataInicial" placeholder="Data inicial">
</div>

<table class="table table-hover">
  <thead>
  <tr class="bg-primary text-light">
    <th>Título</th>
    <th>Data Registro</th>
    <th>Rua</th>
    <th>Numero</th>
    <th>Bairro</th>
    <th>Cidade</th>
    <th>Situacao</th>
    <th>Ações</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let colaboracao of resources">
    <td>{{colaboracao.titulo}}</td>
    <td>{{colaboracao.dataRegistro | date:"dd/MM/yy 'às' HH:mm"}}</td>
    <td>{{colaboracao.rua}}</td>
    <td>{{colaboracao.numero}}</td>
    <td>{{colaboracao.bairro}}</td>
    <td>{{colaboracao.cidade}}</td>
    <td *ngIf="colaboracao.flagSituacao==0">Pendente</td>
    <td *ngIf="colaboracao.flagSituacao==1">Confirmada</td>
    <td>
      <a [routerLink]="[colaboracao.id]" class="btn btn-outline-secondary btn-sm mr-2">Ver</a>
      <a [routerLink]="[colaboracao.id, 'edit']" class="btn btn-outline-warning btn-sm mr-2">Editar</a>
      <button (click)="deleteResource(colaboracao)" class="btn btn-outline-danger btn-sm">Excluir</button>
    </td>
  </tr>
  </tbody>
</table>
