<app-bread-crumb
  [items]="[{text: 'Colaborações'}]"
></app-bread-crumb>

<app-page-header
  page-title="Categorias"
  button-text="+ Nova Colaboração"
  button-link="/colaboracoes/nova"
  button-class="btn-success"
></app-page-header>

<table class="table table-hover">
  <thead>
  <tr class="bg-primary text-light">
    <th>Título</th>
    <th>Data Registro</th>
    <th>Rua</th>
    <th>Numero</th>
    <th>Bairro</th>
    <th>Cidade</th>
    <th>Situacao</th>
    <th>Ações</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let colaboracao of resources">
    <td>{{colaboracao.titulo}}</td>
    <td>{{colaboracao.dataRegistro}}</td>
    <td>{{colaboracao.rua}}</td>
    <td>{{colaboracao.numero}}</td>
    <td>{{colaboracao.bairro}}</td>
    <td>{{colaboracao.cidade}}</td>
    <td>{{colaboracao.flagSituacao}}</td>
    <td>
      <a [routerLink]="[colaboracao.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
      <button (click)="deleteResource(colaboracao)" class="btn btn-outline-danger btn-sm">Excluir</button>
    </td>
  </tr>
  </tbody>
</table>
